@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:200|Poiret+One);

//= require normalize

$warm_gray: #877F7A;
$other_color: #B4CBC0;

body {
  color: $warm_gray;
  text-align: center;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 100;
  font-size: 16px;
}

.info {
  width: 440px;
  margin: 0 auto;
  position: relative;
}

h1 {
  text-align: center;
  text-transform: uppercase;
  color: $warm_gray;
  font-size: 3em;
  font-weight: 100;
  margin: 100px 0 0;
}

.date {
  color: $other_color;
  font-size: 4em;
  font-family: 'Poiret One', cursive;
}

.venue, .location {
  font-size: 2.8em;
  text-transform: uppercase;
}

.palm-tree {
  position: fixed;
  right: 0;
  background-repeat: no-repeat;
  background-size: contain;
  height: 90%;
}

.divider {
  display: none;
  padding-top: 20px;
  margin: 0 auto;
  width: 300px;
  border-bottom: 1px solid $warm_gray;
}

nav {
  margin: 20px;

  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
    font-size: 1.2em;
    font-weight: 900;
  }

  li {
    display: inline;
  }

  a:link, a:visited {
    color: $other_color;
    display: inline-block;
    text-decoration: none;
    padding-bottom: 5px;
    border-bottom: 1px solid $other_color;
  }
}
