@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:200|Poiret+One);

//= require normalize

$warm_gray: #877F7A;
$other_color: #B4CBC0;

body {
  color: $warm_gray;
  text-align: center;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 100;
  font-size: 16px;
}

@media screen and (max-width:450px) {
  body {
    font-size: 12px;
  }
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.info {
  max-width: 440px;
  margin: 0 auto;
  position: relative;
  padding-top: 100px;
  -webkit-transition: padding 0.2s ease-out;
  -moz-transition:  padding 0.2s ease-out;
  -o-transition:  padding 0.2s ease-out;
  transition:  padding 0.2s ease-out;

  &.up {
    padding-top: 0;
  }
}

h1 {
  text-align: center;
  text-transform: uppercase;
  color: $warm_gray;
  font-size: 3em;
  font-weight: 100;
  margin: 0;
}

.date {
  color: $other_color;
  font-size: 4em;
  font-family: 'Poiret One', cursive;
}

.venue, .location {
  font-size: 2.8em;
  text-transform: uppercase;
}

.small {
  .date, .location, .venue {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 1.1em;
    display: inline-block;
  }

  .date { padding-right: 10px; }

  .location:before {
    content: '|';
    padding: 10px;
  }
}

.palm-tree {
  position: fixed;
  right: 0;
  bottom: 0;
  background-repeat: no-repeat;
  background-size: contain;
  height: 90%;
}

.divider {
  display: none;
  padding-top: 20px;
  margin: 0 auto;
  width: 300px;
  border-bottom: 1px solid $warm_gray;
}

a:link, a:visited {
  color: $other_color;
}

nav {
  margin: 20px;
  position: relative;

  ul {
    text-align: center;
    font-size: 1.2em;
    font-weight: 900;
  }

  li {
    display: inline;
  }

  a:link, a:visited {
    display: inline-block;
    text-decoration: none;
    padding-bottom: 5px;
    margin: 0 3px;
    border-bottom: 1px solid $other_color;
    border-top: 1px solid transparent;
  }

  a:hover, a:active, a.current {
    border-top: 1px solid $other_color;
  }
}

.page {
  display: none;
  position: relative;
  font-family: Helvetica;
  max-width: 500px;
  margin: 0 auto;
  text-align: left;
  line-height: 20px;

  li {
    padding: 5px;
  }

  a:link, a:visited {
    color: $warm_gray;
    text-decoration: none;
    display: block;
    clear: both;
  }

  a:nth-child(even) li {
    background-color: #EDE5E0;
  }

  .hotel-link {
    float: right;
    text-decoration: underline;
    color: $other_color;
  }

  .clear {
    clear: both;
  }
}

#song-recs {
  text-align: center;
}